

<nav>
<p> <a href="../tvShow">Return to show page</a></p>

</nav>



<h1>Nathan For You</h1>
<h2><%= episodeTitle %></h2>
<p><b><%= createPaddedEpisode(episodeSeason, episodeNumber) %></b></p>
<p><u><b>Episode Summary!</b></u></p>
<p><%-episodeSummary %></p>
<img src="<%= episodeImage %>" >
<p><%= `Runtime: ${episodeRuntime} minutes` %></p>
<p> <%= `Airdate: ${episodeAirdate}` %> </p>
<p> <%= "Average rating: " + episodeAvgRating %> </p>








<%- include("../partials/footer.ejs") %>