<%- include("../partials/header.ejs", {title: "Game of Thrones Episodes"}) %>



<section>
  <!-- <p><a href="/db-test">Clicking this link will test to see if your db connection is ok</a></p> -->

  <h1>Episodes</h1>
  <p>
  </p>
  <ul>
  <% gameOfThronesEpisodes.forEach(episode => { %>
    <h3>
   <%= episode.name %>
   </h3>
   <li>
  <%= `S0${episode.season}E0${episode.number}` %> 
</li>
  <br>
  <img src="<%= episode.image.medium %>"
<p>
</p>
<p> <%- episode.summary %> </p>
</li>
  <% }); %>
  </ul>
</section>

<%- include("../partials/footer.ejs") %>